name: python-ci

on:
  push:
    paths:
      - "wallpaperbot/**"
      - "pyproject.toml"
      - "poetry.lock"
      - "tests/**/*.py"
      - ".github/workflows/ci-python.yml"
  pull_request:
    paths:
      - "wallpaperbot/**"
      - "pyproject.toml"
      - "poetry.lock"
      - "tests/**/*.py"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Poetry
        run: |
          pip install poetry
      - name: Install deps
        run: |
          poetry install --no-interaction --no-root
      - name: Run tests
        run: |
          poetry run pytest